/*
* @Author: qitongyuan
* @Date:   2018-02-04 18:40:47
* @Last Modified by:   qitongyuan
* @Last Modified time: 2018-02-05 15:16:54
*/

body{
    background: #ccc;
    color: red;
    font-size: 160px;
}